<div class="ui center aligned inverted segment">
    <a class="ui button yellow " href="https://ko-fi.com/prakhargupta" target="__blank"> 
        SUPPORT US &nbsp; <i class="heart icon"></i>
    </a>
</div>