<!-- Heading -->
<div class="ui container">
    <div class="ui inverted segment">
        <h1 class="ui huge centered aligned white bold header">
            WORDLE + STABLE DIFFUSION
        </h1>
    </div>
</div>