<!--Navigation-->
<nav class="ui inverted menu">
    <a href="/" class=" header black item OswaldFont">
            Diffudle
    </a>
    <div class="right menu">
        <a href="/archive">
            <button class="ui button blue RobotoCondensedFont" type="link" href="/archive">Past Games</button> 
        </a>
        <div>
            <button class="ui button blue RobotoCondensedFont" type="button" id="howToPlay">How To Play</button>
        </div>
        <div>
            <button class="ui button blue RobotoCondensedFont" type="button" id="stats">Stats</button>
        </div>
        
    </div>
</nav>