<!--Navigation-->
<nav class="ui inverted menu">
    <a class="header black item" href="/">
        Diffudle
    </a>
    <div class="right menu">
        <a class="ui button yellow create_btn" href="https://ko-fi.com/prakhargupta" target="__blank"> 
                DONATE &nbsp; <i class="heart icon"></i>
        </a>
        
        <button class="ui button teal create_btn" type="button" id="stats">Stats</button>
    </div>
</nav>