<!--Navigation-->
<nav class="ui inverted menu">
    <a class="header black item" href="/">
        Diffudle
    </a>
    <div class="right menu">
        <a class="ui button teal " type="button" id="stats" href="/archive">Past Games</a>
        <button class="ui button teal " type="button" id="stats">Stats</button>
    </div>
</nav>