<!DOCTYPE html>
<html lang="en">

	<%- include('partials/header.ejs') %>

	<body class="ui inverted segment">

		<%- include('components/navbar.ejs') %>

        <div class="ui container">
            <div class="ui inverted segment">
                <h1 class="ui huge centered aligned white bold header OswaldFont">
                    Thank You For Playing!!
                </h1>

                <h1 class="ui huge centered aligned white bold header OswaldFont">
                    we couldn't achieve the user milestones required to sustainably 
                    run this app. Hence, we're shutting down. You can still play the
                    past games using the button above.
                </h1>

                <h1 class="ui huge centered aligned white bold header OswaldFont">
                    If you want to continue this app by yourself, email me at 
                    prakhar897@gmail.com
                </h1>
                
            </div>
        </div>

		<!-- Custom scripts for this template -->
		<script src="js/main.js"></script>

	</body>

</html>