<!--Navigation-->
<nav class="ui inverted menu">
    <div class="header item">
        Diffudle
    </div>
    <div class="right menu">
        <a class="item">How to play</a>
        <a class="item">Stats</a>
        <a class="item">Settings</a>
    </div>
</nav>

<!-- Heading -->
<div class="ui inverted segment">
    <h1 class="ui huge center aligned teal header">
        Guess the stable diffusion prompt
    </h1>
</div>

<!-- SD generated pic -->
<div class="ui inverted segment">
    <img class="ui centered large rounded image" src="/img/sample.png">
</div>

<!-- Attempts box -->
<div class="ui inverted segment">
    <p class="ui huge center aligned teal header"> Attempt No. : 1</p>
</div>	

<!-- Prompt Text-->
<div>
    <div class="diffudle-box">
        <div class="diffudle-box-content">V</div>
    </div>

    <div class="diffudle-box">
        <div class="diffudle-box-content">L</div>
    </div>
    
    <div class="diffudle-box">
        <div class="diffudle-box-content">A</div>
    </div>

    <div class="diffudle-box">
    </div>

    <div class="diffudle-box">
    </div>

    <div class="diffudle-box">
    </div>

    <div class="diffudle-space">
    </div>
    
    <div class="diffudle-box">
        <div class="diffudle-box-content">V</div>
    </div>

    <div class="diffudle-box">
        <div class="diffudle-box-content">L</div>
    </div>

    <div class="diffudle-box">
    </div>

    <div class="diffudle-box">
        <div class="diffudle-box-content">L</div>
    </div>

</div>

<!-- Style Text-->
<div>
    <p class="ui medium center aligned teal header"> stock photo, high key lighting, photograph </p>
</div>

<!-- Virtual Keyboard link: https://codepen.io/joe-watkins/pen/DGzwwJ-->




<!-- Custom scripts for this template -->
<script src="js/main.js"></script>