.diffudle-box {
    height: 2vh;
    width: 2vw;
    font-size: 1.5vw;
     
}

.diffudle-filled-box {
    background: #2dd242;
}

.diffudle-space-box {
    background: black;
}

.diffudle-empty-box {
    background: #26ABDE;
}

.bg-color {
    background-color: #1b1c1d;
}

.border-1{
    border: 0.1vw solid grey;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
    height: 8vh;
    width: 8vw;
    text-align: center;
    vertical-align: middle;
    line-height: 4vh; 
    font-size: 4vmin;
}


.virtual-keyboard-row {
    text-align: center;
    margin: 0 0 2px;
}

.virtual-keyboard-row-button {
    border-radius: 2%;
    margin-top: 0.5vmin !important;
    margin-bottom: 0.5vmin !important;
    padding-left: 2vmin !important;
    padding-right: 2vmin !important;
}

.statHistogram{
    border: 1px solid white
}

.statHistogramColored{
    border-radius: 5%;
}